/* Immagini nella sezione categorie */
.slider-wrapper.categories-slider img {
    width: 300px; 
    height: 200px; 
    object-fit: contain; /* Mostra l'intera immagine all'interno delle dimensioni senza distorsioni */
}

/* Immagini nella sezione ambienti */
.slider-wrapper.ambient-slider img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo interamente il contenitore */
}

/* Stili per i pulsanti di navigazione */
.slider-button {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background: transparent; 
    border: none; 
    cursor: pointer; /* Mostra la mano quando l'utente passa sopra il pulsante */
    padding: 5px; 
}

/* Posizione specifica del pulsante sinistro */
.slider-button-left {
    left: -40px; 
}

/* Posizione specifica del pulsante destro */
.slider-button-right {
    right: -40px; 
}

/* Stile per i pulsanti disabilitati (quando non ci sono più immagini da scorrere) */
.slider-button:disabled {
    color: #ccc; 
    cursor: not-allowed; 
}

