#categoriesSlider img {
    width: 300px; /* Imposta una larghezza fissa per le immagini nella sezione categorie */
    height: 200px; /* Imposta un'altezza fissa per le immagini nella sezione categorie */
    object-fit: contain; /* Mostra l'intera immagine all'interno delle dimensioni */
}

#ambientSlider img {
    width: 300px; /* Imposta una larghezza fissa per le immagini nella sezione ambienti */
    height: 200px; /* Imposta un'altezza fissa per le immagini nella sezione ambienti */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo interamente il contenitore */
}

#categoriesSlider,
#ambientSlider {
    transition: transform 0.4s ease-in-out;
}

/* Regola i pulsanti di scorrimento */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

#categoriesLeft {
    left: -40px; /* Sposta il pulsante sinistro all'esterno */
}

#categoriesRight {
    right: -40px; /* Sposta il pulsante destro all'esterno */
}

#ambientLeft {
    left: -40px; /* Sposta il pulsante sinistro all'esterno */
}

#ambientRight {
    right: -40px; /* Sposta il pulsante destro all'esterno */
}
